name: Deno Check
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    deno-check:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - run: deno fmt --check
            - run: deno lint
            - run: deno task test

